<div class="cardContainer d-flex flex-row flex-wrap">
  <div class="card" style="width: 12rem">
    <img src="images/iphone-12.jpeg" class="card-img-top" alt="deviceImage" />
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{device_type}}</p>
      <a href="#" class="btn btn-primary">Rent this</a>
    </div>
  </div>
</div>