{{!-- devices page in use for Show All Devices, however the id route is not correct.--}}
<div class="container">
    <div class="cardContainer d-flex flex-row flex-wrap">
        {{#each devices as |device| }}
           {{> device-details}}
        {{/each}}
    </div>
</div>