<div class="final-page">
    <h2>Congratulations!</h2>

    <h3>You've successfully rented this device, please check your <a href="/profile">profile</a> to view your devices.</h3>

    <h3>To retrieve your device: </h3>
    <ul>
        <li>Please go to the IT office of our school located at: 123 Lannister Rd., Kingslanding, 37465, USA.</li>
        <li>Office hours: 8 AM to 4 PM, Monday through Friday</li>
        <li>Tel: +1 234-567-8901</li>
        <li>Email: test6@email.com</li>
    </ul>

</div>
