<div class="container">
  <div class="cardContainer d-flex flex-row flex-wrap">
    <div class="profile-page">
      <div class="row">
        <div class="col-auto">
          <h2>Welcome, {{name}}!</h2>
          <h4>Here is your device details:</h4>
        </div>
      </div>
      <div class="container">
        <div class="cardContainer d-flex flex-row flex-wrap">
          <div class="card" style="width: 12rem">
            <div class="card-body">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">Type: {{type}}</p>
              <ul class="card-text">Current Device:
                <li>{{device.name}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/profile.js"></script>