<h1>School Device Retal Agreement</h1>
<div class="container" id="scroll">
    <h2>Warroad Public Schools---Take Home Device Rental Agreement</h2>

    <h3>Take-home Rental Description:</h3>

<p>
    All students/teachers/admins participating in the take-home program are responsible for their assigned devices and charge cords throughout the entire school year.   
</p>
<p>
    A rental fee will be collected and used for repair and maintenance of the device program. All students/teachers/admins are responsible for a rental fee per rented device in the take-home program.
</p>
<p>
    Please note the information below describes the responsibility of damage costs, lost or stolen conditions, and rental fee waiver opportunity. 
</p>
    
    <h3>Rental Agreement: </h3>
<p>
    Independent School District #690 hereby rents to the undersigned Rental Customer for the length of the school year, the devices and charge cord, subject to the terms and conditions hereinafter set forth. Rental Customer in consideration of the said rental agrees as follows: 
</p>
<ol>
    <li>
        The rental payment shall commence as of the date of this agreement, and continue as specified above thereafter for the length of the school year. Payment shall be paid to Warroad Public Schools. Equipment not returned to Independent School District #690 within two weeks after the end of the school year will be deemed stolen and local law enforcement will be contacted.
    </li>
    <li>
        The Rental Customer may, at any time during the rental period, return the rented property to Independent School District #690 in good condition and the agreement shall be deemed terminated.
    </li>
    <li>
        If the student/teacher/admin leaves the district, the return date is deemed the un-enrollment date from Independent School District #690.
    </li>
</ol>

<h3>RESPONSIBILITY OF DAMAGE COSTS</h3>
<ol>
    <li>
        Non-accidental: Damage costs, including repair or replacement, incurred due to non-accidental destruction of ISD 690 technology devices will be the responsibility of the user or the parent or guardian financially responsible for the user.
        </li>
    <li>
        Accidental damage costs of school based equipment: Accidental damage costs of school based devices, including repair or replacement, will be covered by ISD 690.
    </li>
    <li>
        C. Accidental damage cost of take-home model equipment: Accidental damage costs including repair or replacement, of ISD 690 devices in a take home model will be covered by the ISD 690 insurance program. 
    </li>
</ol>

<p>
    All users in the ISD 690 participating in the take home program are required to pay a non-refundable $30 insurance premium at the start of each year. Any cost incurred due to devices needing repair or replacement due to accidental damage will be covered by the insurance fund balance.
</p>  

<h3>Lost or Stolen Policy:</h3>
<ul>
    <li>
        All devices suspected of being lost or stolen must be reported immediately to HS administration.
    </li>
    <li>
       Student will be charged replacement value in the case of a lost or stolen device or charger minus the rental fee. 
    </li>
    <li>
        Charges will be refunded upon return of the lost or stolen equipment.
    </li>
    <li>
        After the event of lost or stolen equipment the student/teacher/admin will not be eligible for the take-home program until the replacement cost has been paid.
    </li>
</ul>

<h3>Insurance Fee Waiver:</h3> 

<p>
    Some families, based on income, may be eligible for insurance fee reduction or waiver.  Please contact Lynae Anderson for additional information at <a href="+12183866001">218-386-6001</a> or email at <a href="mailto:lynae_anderson@warroad.k12.mn.us">lynae_anderson@warroad.k12.mn.us</a> prior to device check-out. 
</p>
<h3>Take home opt-out option:</h3>
<p>
    Students/teachers/admins who opt-out of the take-home program or do not pay the insurance premium will check their devices in each night to be charged overnight in a provided devices cart in the High School Media Center.
</p>  
<p>
    Students/teachers/admins are expected to check-out their device each morning when they arrive at school prior to the start of the school day.  Students are expected to check-in their device before they leave for the day. 
</p>
<p>
    All students/teachers/admins who are participating in the take-home program are responsible for their assigned devices and charge cords throughout the entire school year. 
</p>
<p>Annual Technology Insurance Premium: $30</p>

<p>By clicking on the AGREE & RENT THIS DEVICE button below you agree to the terms and conditions set forth in the agreement stated above. 
</div>

<button><a href="/">CANCEL</a></button>
<button><a href="/finalpage">AGREE & RENT THIS DEVICE</a></button>
